<!DOCTYPE html>

<html lang="pt">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<title>GM - Lista de cursos</title> <!-- insira o titulo da página aki-->

  <!--CSS-->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet"> 

	<link rel="stylesheet" type="text/css" href="../../../../public/stylesheets/css/Arte.css"> <!-- insere o nome da página de css aki-->

	<!--jQuery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


	<!--JavaScript-->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
	<div class = "container-fluid">
		<h2>Cursos ofertadas</h2>
		<div class = "table-responsive">
			<table class="table table-bordered celula">
				<thead>
					<tr>
						<th colspan="2"><p class = "alinhar">Modalidade</p></th>
						<th colspan="2"><p class = "alinhar">Código</p></th>
						<th colspan="6"><p class = "alinhar">Nome</p></th>
						<th colspan="1"><p class = "alinhar">Turno</p></th>
						<th colspan="1"><p class = "alinhar"></p></th>
					</tr>
				</thead>
				<tbody>
					<!-- Uma Matéria -->
					<tr>
						<td colspan="2"><p class = "alinhar">Presencial</p></td>
						<td colspan="2"><p class = "alinhar">050</p></td>
						<td colspan="6">Engenharia de computação</td>
						<th colspan="1"><p class = "alinhar">Diurno</p></th>
						<td colspan="1"><input class = "botao" type="submit" value="Olhar curso"></td><!-- Botão que leva para pagina do curso-->
					</tr>
					<!-- inserir um para cada matéria -->
				</tbody>
			</table>
		</div>
	</div>
	
</body>