div.perfil {
  color: #fff;
  background: #163677;
  height: 100px;
  padding: 15px 15px 0px 15px;
}

div.perfil div.foto {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  border: 2px solid #fff;
  margin-bottom: 5px;
}

div#loadablepage {
  background: #fff;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
  text-align: left;
}

table {border-collapse: collapse; width: 100%;}

table th {
  padding: 15px;
  border-bottom: 1px solid #000;
}

table td[border="true"], table th[border="true"] {
  border-right: 1px solid #000;
}

table td {
  padding: 5px;
}

table.centralize{
  text-align: center;
}

form{margin: 0}

input[type="submit"],input[type="button"] {    
	border: 0;
	background: none;
	padding: 2px 10px 2px 10px;
	font-family: Droid Sans;
	border-radius: 2px;
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 5px;
	background: #2ACCE0;
	outline: none;
	cursor: pointer;
	transition: 0.1s ease;
}

input[type="submit"]:hover,input[type="button"]:hover {    
	background: #F3F900;
	transform: scale(1.1);
}

.gradetempo {
  font-family: URW Gothic L;
  font-size: 25px;
  width: 38px;
}

.grademateria {
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.07);
  padding: 25px 10px 25px 10px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 5px;
  background: #fffae2;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

table.gradehoraria td{
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.matriculado{background: #e2ffed}

div.horariobox{
  border: 1px solid #000;
  text-align: center;
}

div.horariobox div.weekday{
  width: 100%;
  height: 14px;
  background: #a1e6ef;
  padding: 0px 0px 7px 0px;
}

div.horariobox div.time{
  display: block;
  width: 100%;
  clear: both;
}

td div.position{
  background: #2dea58;
  display: inline-block;
  position: relative;
  padding: 5px 10px 5px 10px;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
}

.warn{
 background: #fc001b !important; 
}

div.fullbox{
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0,0,0,0.8);
  z-index: 10000;
  display: none;
}

div.fullbox div.window{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  min-height: 100px;
  background: #fff;
  text-align: left;
}

div.fullbox div.window div.windowtop{
  width: 100%;
  background: #406bb6;
  height: 30px;
}

div.fullbox div.window div.windowtopError{
  background: #e73a52;
}

div.fullbox div.window div.windowtopServerError{
  background: #f00;
}

div.fullbox div.window div.windowtop div.windowlabel{
  padding: 6px;
}

div.fullbox div.window div.windowtext{
  padding: 6px;
}
