@font-face {
  font-family: "Droid Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Droid Sans"), local("DroidSans"), url("../fonts/droidsans.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
		font-family: "URW Gothic L";
	src: url('../fonts/urw-gothic-l-book.ttf');
}

h1, h2 {
  font-family: URW Gothic L;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

input[type="number"].bigNumber {
	background: none;
  font-family: URW Gothic L;
  font-weight: 400;
	width: 60px;
	font-size: 28px;
	border: none;
	border-bottom: 1px solid #333;
	outline: none;
	color: inherit;
	text-align: center;
	-moz-appearance: textfield !important;
}

input[type="number"].bigNumber:hover, input[type="number"].bigNumber:focus{
	border-bottom: 1px solid #000;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgba(255,255,255,0.8);
}

input[type="number"].bigNumber::-webkit-inner-spin-button, input[type="number"].bigNumber::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

.leftalign {text-align: left}

html, body {
  font-family: Droid Sans;
  background-color: #eee;
  margin: 0;
  padding: 0;
  height: 100%;
  display: block;
  background-image: url('../images/memphis-colorful.png');
}

div.container {
  width: 100%;
  height: 100%;
  display: table;
}

div.subcontainer {
  display: table-cell;
  vertical-align: middle;
}
div.topbar {
  z-index: 1000;
  position: relative;
  width: 100%;
  height: 40px;
  background: #ce4242;
  text-align: center;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  color: #fff;
}

div.topbarleft { 
  text-align: left;
}

div.topbarleft div.toplogout {
  position: absolute;
  right: 15px;
  top: 10px;
}

div.topbarleft div.toplogout a{
  color: #fff;
}

div.subtopbar {
  z-index: 1000;
  position: relative;
  width: 100%;
  height: 18px;
  background: #ef4f4f;
  text-align: center;    
  color: #720101;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
}

div.logo {
  font-family: URW Gothic L;
  font-weight: 100;
  font-size: 51px;
  margin-top: -13px;
  display: inline-block;
  margin-bottom: -16px;
}

div.logoleft {padding-left: 15px;}

div.pagestructure {
  display: block;
  width: 100%;
  overflow-x: auto;
  overflow-y: none;
}

div.tablestyle{
  display: table;
  height: 100%;
  width: 100%;
}

div.leftbar {
  position: relative;
  height: 100%;
  background: rgba(26, 35, 54, 0.94);
  clear: both;
  display: table-cell;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
  min-width: 200px;
  z-index: 1;
}

@keyframes hide{
  from{transform: translate(0)}
  to{transform: translate(-200px)}
}

@keyframes show{
  from{transform: translate(-200px)}
  to{transform: translate(0)}
}

div.leftbar div.option {
  color: rgba(255,255,255,0.7);
  padding: 5px 15px 0px 15px;
  font-family: Droid Sans;
  display: inline-block;
  float: left;
  clear: both;
}

div.leftbar div.vspace {
  height: 10px;
  display: block;
  float: left;
  clear: both;
}

div.leftbar div.optionhover:hover {
  cursor: pointer;
  color: rgba(255,255,255,1);
}

div.leftbar div.suboption {
  display: none;
  padding-left: 30px;
}

div.content {
  display: table-cell;
  vertical-align: middle;
  overflow-x: auto;
  width: 100%;
}
