<!DOCTYPE html>

<html lang="pt">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<title>GM - Dados pessoais</title> <!-- insira o titulo da página aki-->

  <!--CSS-->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet"> 

	<link rel="stylesheet" type="text/css" href="../../../public/stylesheets/css/Arte.css"> <!-- insere o nome da página de css aki-->

	<!--jQuery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


	<!--JavaScript-->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
	<div class = "container-fluid">
		<h2> Nome do aluno </h2>
		<h4> Número da matrícula </h4>

		<div class = "table-responsive">
			<table class="table table-bordered celula">
				<tbody>
					<tr>
						<td class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">Nome</td>
						<td class = "col-lg-9 col-md-9 col-sm-9 col-xs-9">Nome do aluno</td>
					</tr>
					<tr>
						<td class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">Mãe</td>
						<td class = "col-lg-9 col-md-9 col-sm-9 col-xs-9">Nome da mãe do aluno</td>
					</tr>
					<tr>
						<td class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">Pai</td>
						<td class = "col-lg-9 col-md-9 col-sm-9 col-xs-9">Nome do pai do aluno</td>
					</tr>
					<tr>
						<td class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">Data de nascimento</td>
						<td class = "col-lg-9 col-md-9 col-sm-9 col-xs-9">DD/MM/AAAA</td>
					</tr>
					<tr>
						<td class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">Nacionalidade</td>
						<td class = "col-lg-9 col-md-9 col-sm-9 col-xs-9">Brasileiro</td>
					</tr>
					<tr>
						<td class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">UF de nascimento</td>
						<td class = "col-lg-9 col-md-9 col-sm-9 col-xs-9">DF</td>
					</tr>
					<tr>
						<td class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">Identidade</td>
						<td class = "col-lg-9 col-md-9 col-sm-9 col-xs-9">1234567890/DF</td>
					</tr>
					<tr>
						<td class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">CPF</td>
						<td class = "col-lg-9 col-md-9 col-sm-9 col-xs-9">333.389.648-50</td>
					</tr>
					<tr>
						<td class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">Nível</td>
						<td class = "col-lg-9 col-md-9 col-sm-9 col-xs-9">Graduação</td>
					</tr>
					<tr>
						<td class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">Matrícula</td>
						<td class = "col-lg-9 col-md-9 col-sm-9 col-xs-9">33/0006897</td>
					</tr>
					<tr>
						<td class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">Aluno Bloqueado</td>
						<td class = "col-lg-9 col-md-9 col-sm-9 col-xs-9">Não</td>
					</tr>
					<tr>
						<td class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">Portador de necessidades especiais</td>
						<td class = "col-lg-9 col-md-9 col-sm-9 col-xs-9">Não</td>
					</tr>
					<tr>
						<td class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">Ano de conclusão do ensino médio</td>
						<td class = "col-lg-9 col-md-9 col-sm-9 col-xs-9">2017</td>
					</tr>
					<tr>
						<td class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">Escola do ensino médio</td>
						<td class = "col-lg-9 col-md-9 col-sm-9 col-xs-9">Pública</td>
					</tr>
					<tr>
						<td class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">Endereço</td>
						<td class = "col-lg-9 col-md-9 col-sm-9 col-xs-9">SQS 104 bl E 604</td>
					</tr>
					<tr>
						<td class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">Cidade</td>
						<td class = "col-lg-9 col-md-9 col-sm-9 col-xs-9">Brasília</td>
					</tr>
					<tr>
						<td class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">UF</td>
						<td class = "col-lg-9 col-md-9 col-sm-9 col-xs-9">DF</td>
					</tr>
					<tr>
						<td class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">CEP</td>
						<td class = "col-lg-9 col-md-9 col-sm-9 col-xs-9">777777070</td>
					</tr>
					<tr>
						<td class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">E-mail</td>
						<td class = "col-lg-9 col-md-9 col-sm-9 col-xs-9">fulanovski@gmail.com</td>
					</tr>
					<tr>
						<td class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">Telefone</td>
						<td class = "col-lg-9 col-md-9 col-sm-9 col-xs-9">934568975</td>
					</tr>
					<tr>
						<td class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">Celular</td>
						<td class = "col-lg-9 col-md-9 col-sm-9 col-xs-9">984568975</td>
					</tr>
					<tr>
						<td class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">Município de nascimento</td>
						<td class = "col-lg-9 col-md-9 col-sm-9 col-xs-9">Goiania</td>
					</tr>
					<tr>
						<td class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">Raça/Cor</td>
						<td class = "col-lg-9 col-md-9 col-sm-9 col-xs-9">Branca</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class = "row">
			<div class = "col-lg-5 col-md-5 col-sm-4 col-xs-4"></div>
			<div class = "col-lg-2 col-md-2 col-sm-4 col-xs-4">
				<input class = "botao" type="submit" value="Atualizar"> <!-- Botão único que deve atualizar os dados -->
			</div>
			<div class = "col-lg-5 col-md-5 col-sm-4 col-xs-4"></div>
		</div>
	</div>
	
</body>