<!DOCTYPE html>

<html lang="pt">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<title>GM - Grade horária</title> <!-- insira o titulo da página aki-->

  <!--CSS-->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet"> 

	<link rel="stylesheet" type="text/css" href="../../../public/stylesheets/css/Arte.css"> <!-- insere o nome da página de css aki-->

	<!--jQuery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


	<!--JavaScript-->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
	<div class = "container-fluid">
		<div class = "row">
			<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h2>Grade-horária</h2>
				<h4>Nome do aluno</h4>
				<h4>matrícula</h4>
				<div class = "table-responsive">
					<table class="table table-bordered celula">
						<tbody>
							<tr>
								<th class = "col-lg-1 col-md-1 col-sm-1 col-xs-1"></th>
								<th class = "col-lg-2 col-md-2 col-sm-2 col-xs-2">Segunda</th>
								<th class = "col-lg-2 col-md-2 col-sm-2 col-xs-2">Terça</th>
								<th class = "col-lg-2 col-md-2 col-sm-2 col-xs-2">Quarta</th>
								<th class = "col-lg-2 col-md-2 col-sm-2 col-xs-2">Quinta</th>
								<th class = "col-lg-2 col-md-2 col-sm-2 col-xs-2">Sexta</th>
								<th class = "col-lg-1 col-md-1 col-sm-1 col-xs-1">Sábado</th>
							</tr>
							<tr>
								<td nowrap = "nowrap">06 - 08</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td nowrap = "nowrap">08 - 10</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td nowrap = "nowrap">10 - 12</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td nowrap = "nowrap">12 - 14</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td nowrap = "nowrap">14 - 16</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td nowrap = "nowrap">16 - 18</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td nowrap = "nowrap">18 - 20</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td nowrap = "nowrap">20 - 22</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td nowrap = "nowrap">22 - 24</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	
</body>