<!DOCTYPE html>

<html lang="pt">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<title>GM - Histórico Escolar</title> <!-- insira o titulo da página aki-->

  <!--CSS-->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet"> 

	<link rel="stylesheet" type="text/css" href="../../../public/stylesheets/css/Arte.css"> <!-- insere o nome da página de css aki-->

	<!--jQuery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


	<!--JavaScript-->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
	<div class = "container-fluid">
		<h2> Nome do aluno </h2>
		<h4> Número da matrícula </h4>

		<div class = "table-responsive">
			<table class="table table-bordered celula">
				<thead>
					<tr>
						<th colspan="3" rowspan="2"><p class = "alinhar">Disciplina</p></th>
						<th rowspan="3"><p class = "alinhar">Menção</p></th>
						<th colspan="6"><p class = "alinhar">Crédito</p></th>
					</tr>
					<tr>
						<th colspan="2"><p class = "alinhar">Área Concentrada</p></th>
						<th colspan="2"><p class = "alinhar">Domínio conexo</p></th>
						<th colspan="2"><p class = "alinhar">Módulo Livre</p></th>
						<th colspan="2"><p class = "alinhar">Outros<p></th>
					</tr>
					<tr>
						<th class = "col-lg-1 col-md-1 col-sm-1 col-xs-1"><p class = "alinhar">Código</p></th>
						<th class = "col-lg-3 col-md-3 col-sm-3 col-xs-3"><p class = "alinhar">Descrição</p></th>
						<th class = "col-lg-2 col-md-2 col-sm-2 col-xs-2"><p class = "alinhar">Departamento</p></th>
						<th class = "col-lg-1 col-md-1 col-sm-1 col-xs-1"><p class = "alinhar">OBR</p></th>
						<th class = "col-lg-1 col-md-1 col-sm-1 col-xs-1"><p class = "alinhar">OPT</p></th>
						<th class = "col-lg-1 col-md-1 col-sm-1 col-xs-1"><p class = "alinhar">OBR</p></th>
						<th class = "col-lg-1 col-md-1 col-sm-1 col-xs-1"><p class = "alinhar">OPT</p></th>
						<th class = "col-lg-1 col-md-1 col-sm-1 col-xs-1"><p class = "alinhar"></p></th>
						<th class = "col-lg-1 col-md-1 col-sm-1 col-xs-1"><p class = "alinhar"></p></th>
					</tr>
				</thead>
				<tbody>
					<!-- uma período -->
					<tr>
						<td class = "col-lg-1 col-md-1 col-sm-1 col-xs-1"><p class = "alinhar">Período</p></td>
						<td class = "col-lg-11 col-md-11 col-sm-11 col-xs-11"><p>2/2017</p></td>
					</tr>
					<!-- uma matéria -->
					<tr>
						<td class = "col-lg-1 col-md-1 col-sm-1 col-xs-1"><p class = "alinhar">Código</p></td>
						<td class = "col-lg-3 col-md-3 col-sm-3 col-xs-3"><p class = "alinhar">Descrição</p></td>
						<td class = "col-lg-2 col-md-2 col-sm-2 col-xs-2"><p class = "alinhar">Departamento</p></td>
						<td class = "col-lg-1 col-md-1 col-sm-1 col-xs-1"><p class = "alinhar">Menção</p></td>
						<td class = "col-lg-1 col-md-1 col-sm-1 col-xs-1"><p class = "alinhar">Créditos</p></td>
						<td class = "col-lg-1 col-md-1 col-sm-1 col-xs-1"><p class = "alinhar">Créditos</p></td>
						<td class = "col-lg-1 col-md-1 col-sm-1 col-xs-1"><p class = "alinhar">Créditos</p></td>
						<td class = "col-lg-1 col-md-1 col-sm-1 col-xs-1"><p class = "alinhar">Créditos</p></td>
						<td class = "col-lg-1 col-md-1 col-sm-1 col-xs-1"><p class = "alinhar">Créditos</p></td>
						<td class = "col-lg-1 col-md-1 col-sm-1 col-xs-1"><p class = "alinhar">Créditos</p></td>
					</tr>
					<!-- inserir mais para cada matéria -->
					<!-- inserir mais para cada período -->
				</tbody>
			</table>
		</div>
	</div>
	
</body>