<!DOCTYPE html>

<html lang="pt">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<title>GM - Matéria</title>

  <!--CSS-->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet"> 

	<link rel="stylesheet" type="text/css" href="../../../public/stylesheets/css/Arte.css"> <!-- insere o nome da página de css aki-->

	<!--jQuery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


	<!--JavaScript-->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
	<div class = "container-fluid">
		<h2>Nome da matéria</h2>
		<button type="button" class="botao">Turmas</button>

		<div class = "table-responsive">
			<table class="table table-bordered">
				<tbody  class = "celula">
					<tr>
						<td class = "col-lg-4 col-md-4 col-sm-4 col-xs-4">Departamento</td>
						<td class = "col-lg-8 col-md-8 col-sm-8 col-xs-8">Nome do departamento</td>
					</tr>
					<tr>
						<td class = "col-lg-4 col-md-4 col-sm-4 col-xs-4">Código</td>
						<td class = "col-lg-8 col-md-8 col-sm-8 col-xs-8">código da diciplina</td>
					</tr>
					<tr>
						<td class = "col-lg-4 col-md-4 col-sm-4 col-xs-4">Departamento</td>
						<td class = "col-lg-8 col-md-8 col-sm-8 col-xs-8">Nome do departamento</td>
					</tr>
					<tr>
						<td class = "col-lg-4 col-md-4 col-sm-4 col-xs-4">Pré-requisitos</td>
						<td class = "col-lg-8 col-md-8 col-sm-8 col-xs-8">Digite o código dos pré-requisitos</td>
					</tr>
					<tr>
						<td class = "col-lg-4 col-md-4 col-sm-4 col-xs-4">Ementa</td>
						<td class = "col-lg-8 col-md-8 col-sm-8 col-xs-8">Etiam posuere quam ac quam. Maecenas aliquet accumsan leo. Nullam dapibus fermentum ipsum. Etiam quis quam. Integer lacinia. Nulla est. Nulla turpis magna, cursus sit amet, suscipit a, interdum id, felis. Integer vulputate sem a nibh rutrum consequat. Maecenas lorem. Pellentesque pretium lectus id turpis. Etiam sapien elit, consequat eget, tristique non, venenatis quis, ante. Fusce wisi. Phasellus faucibus molestie</td>
					</tr>
					<tr>
						<td class = "col-lg-4 col-md-4 col-sm-4 col-xs-4">Programa</td>
						<td class = "col-lg-8 col-md-8 col-sm-8 col-xs-8">Etiam posuere quam ac quam. Maecenas aliquet accumsan leo. Nullam dapibus fermentum ipsum. Etiam quis quam. Integer lacinia. Nulla est. Nulla turpis magna, cursus sit amet, suscipit a, interdum id, felis. Integer vulputate sem a nibh rutrum consequat. Maecenas lorem. Pellentesque pretium lectus id turpis. Etiam sapien elit, consequat eget, tristique non, venenatis quis, ante. Fusce wisi. Phasellus faucibus molestie</td>
					</tr>
					</tr>
					<tr>
						<td class = "col-lg-4 col-md-4 col-sm-4 col-xs-4">Bibliografia</td>
						<td class = "col-lg-8 col-md-8 col-sm-8 col-xs-8">Etiam posuere quam ac quam. Maecenas aliquet accumsan leo. Nullam dapibus fermentum ipsum. Etiam quis quam. Integer lacinia. Nulla est. Nulla turpis magna, cursus sit amet, suscipit a, interdum id, felis. Integer vulputate sem a nibh rutrum consequat. Maecenas lorem. Pellentesque pretium lectus id turpis. Etiam sapien elit, consequat eget, tristique non, venenatis quis, ante. Fusce wisi. Phasellus faucibus molestie</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
</body>