<!DOCTYPE html>

<html lang="pt">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<title>GM - Gerênciador de Matrículas</title> <!-- insira o titulo da página aki-->

  <!--CSS-->

	<!--jQuery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


	<!--JavaScript-->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
	<div class="container">
		<h1 id="logo">GM</h1>
		<div id="login">
			<form action=""  method="post">  <!-- OBS: COLOCAR PAGINA DO ACTION  -->
				<h2 id="acesso">Acesso ao sistema<h2>
				<h4>insira o nome de usuário e senha para fazer login</h4>
				Usuário:<br>
  				<input type="text" name="Usuário">
  				<br>
  				Senha:<br>
  				<input type="password" name="Senha">
  				<br>
  				<br>
  				<input type="submit" value="Login"> <!-- Botão único que permite o usuário logar -->
			</form> 
		</div>
	</div>
</body>
