<!DOCTYPE html>

<html lang="pt">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<title>GM - Turmas</title> <!-- insira o titulo da página aki-->

  <!--CSS-->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet"> 

	<link rel="stylesheet" type="text/css" href="../../../public/stylesheets/css/Arte.css"> <!-- insere o nome da página de css aki-->

	<!--jQuery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


	<!--JavaScript-->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
	<div class = "container-fluid">
		<h2>Nome da matéria</h2>
		
		<div class = "table-responsive">
			<table class="table table-bordered celula">
				<thead>
					<tr>
						<th class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">Turma</th>
						<th class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">Vagas</th>
						<th class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">Horário/Local</th>
						<th class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">Professor</th>
					</tr>
				</thead>
				<tbody>
					<!-- uma turma -->
					<tr>
						<td class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">Letra da turma </td>
						<td class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">Número de vagas </td>
						<td class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">Hora e local </td>
						<td class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">Nome do professor </td>
					</tr>
					<!-- inserir mais para cada turma -->
				</tbody>
			</table>
		</div>
	</div>
	
</body>