@(dados: dadosPessoais)
<html>
<table class="">
	<tbody>
		<tr>
			<td class="">Nome</td>
			<td class="">@dados.nome</td>
		</tr>
		<tr>
			<td class="">Mãe</td>
			<td class="">@dados.nomemae</td>
		</tr>
		<tr>
			<td class="">Pai</td>
			<td class="">@dados.nomepai</td>
		</tr>
		<tr>
			<td class="">Data de nascimento</td>
			<td class="">@dados.datanascimento</td>
		</tr>
		<tr>
			<td class="">Nacionalidade</td>
			<td class="">@dados.nacionalidade</td>
		</tr>
		<tr>
			<td class="">Identidade</td>
			<td class="">@dados.rg</td>
		</tr>
		<tr>
			<td class="">CPF</td>
			<td class="">@dados.cpf</td>
		</tr>
		<tr>
			<td class="">Nível</td>
			<td class="">@dados.nivel</td>
		</tr>
		<tr>
			<td class="">Matrícula</td>
			<td class="">@dados.matricula</td>
		</tr>
		<tr>
			<td class="">Sexo</td>
			<td class="">@dados.sexo</td>
		</tr>
		<tr>
			<td class="">Semestre de início</td>
			<td class="">@dados.semestreinicio</td>
		</tr>
		<tr>
			<td class="">Aluno Bloqueado</td>
			<td class="">@dados.bloqueado</td>
		</tr>
		<tr>
			<td class="">Portador de necessidades especiais</td>
			<td class="">@dados.pne</td>
		</tr>
		<tr>
			<td class="">Endereço</td>
			<td class="">@dados.endereco</td>
		</tr>
		<tr>
			<td class="">Cidade</td>
			<td class="">@dados.cidade</td>
		</tr>
		<tr>
			<td class="">UF</td>
			<td class="">@dados.uf</td>
		</tr>
		<tr>
			<td class="">CEP</td>
			<td class="">@dados.cep</td>
		</tr>
		<tr>
			<td class="">E-mail</td>
			<td class="">@dados.email</td>
		</tr>
		<tr>
			<td class="">Telefone</td>
			<td class="">@dados.telefone</td>
		</tr>
		<tr>
			<td class="">Celular</td>
			<td class="">@dados.celular</td>
		</tr>
		<tr>
			<td class="">Raça/Cor</td>
			<td class="">@dados.racacor</td>
		</tr>
	</tbody>
</table>
<input type="button" value="Editar dados" class="listener" href="/dados/caracteristicas"></input>
</html>
