@(grade: List[GradeHoraria])
<table class="gradehoraria">
	<tbody>
		<tr>
			<th class="gradetempo"></th>
			<th>Segunda</th>
			<th>Terça</th>
			<th>Quarta</th>
			<th>Quinta</th>
			<th>Sexta</th>
			<th>Sábado</th>
		</tr>
		@for(i <- (0 until 9)){
		<tr>
			<td class="gradetempo">@("%02d" format (6+2*i))  @("%02d" format (6+2*i+2))</td>
			@for(j <- (0 until 6)){
			  <td>
			    @for(turma <- grade.filter(_.dia == j+1).filter(_.inicio == 6+2*i)){
			      @if(turma.status == "matriculado"){<div class="grademateria matriculado">} else{<div class="grademateria">}
			      @turma.materia
			      <h2>@turma.letra</h2>
			      </div>
			    }
			  </td>
			}
		</tr>
		}
	</tbody>
</table>
<table>
  <tr>
    <th>Código</th>
    <th>Matéria</th>
    <th>Turma</th>
    <th>Professor</th>
  </tr>
  @for(materia <- grade){
  <tr>
    <td>@materia.ID</td>
    <td><a class="listener" href="dados/materia?id=@materia.ID">@materia.materia</a></td>
    <td align="center"><h2>@materia.letra</h2></td>
    <td>@materia.professor</td>
  </tr>
  }
</table>
