@()
<table>
	<tbody>
		<tr>
			<th class="gradetempo"></th>
			<th>Segunda</th>
			<th>Terça</th>
			<th>Quarta</th>
			<th>Quinta</th>
			<th>Sexta</th>
			<th>Sábado</th>
		</tr>
		<tr>
			<td class="gradetempo">06  08</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="gradetempo">08  10</td>
			<td><div class="grademateria">Cálculo 3</div></td>
			<td></td>
			<td><div class="grademateria">Cálculo 3</div></td>
			<td></td>
			<td><div class="grademateria">Cálculo 3</div></td>
			<td></td>
		</tr>
		<tr>
			<td class="gradetempo">10  12</td>
			<td><div class="grademateria">Teoria dos Números</div></td>
			<td><div class="grademateria">Relatividade e Física Quântica</div></td>
			<td><div class="grademateria">Teoria dos Números</div></td>
			<td><div class="grademateria">Relatividade e Física Quântica</div></td>
			<td><div class="grademateria">Relatividade e Física Quântica</div></td>
			<td></td>
		</tr>
		<tr>
			<td class="gradetempo">12  14</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="gradetempo">14  16</td>
			<td><div class="grademateria">Estrutura de dados</div></td>
			<td></td>
			<td><div class="grademateria">Estrutura de dados</div></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="gradetempo">16  18</td>
			<td></td>
			<td><div class="grademateria">Introdução à Álgebra Linear</div></td>
			<td></td>
			<td><div class="grademateria">Introdução à Álgebra Linear</div></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="gradetempo">18  20</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="gradetempo">20  22</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="gradetempo">22  24</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
<table>
  <tr>
    <th>Código</th>
    <th>Matéria</th>
    <th>Professor</th>
  </tr>
  <tr>
    <td></td>
    <td>Cálculo 3</td>
    <td>Célius Magalhães</td>
  </tr>
  <tr>
    <td></td>
    <td>Teoria dos Números</td>
    <td>Noraí Rocco</td>
  </tr>
  <tr>
    <td></td>
    <td>Introdução à Álgebra Linear</td>
    <td>Irina Sviridova</td>
  </tr>
  <tr>
    <td></td>
    <td>Relatividade e Física Quântica</td>
    <td>Algum gostoso do IF</td>
  </tr>
  <tr>
    <td></td>
    <td>Estruturas de Dados</td>
    <td>Li Weigang</td>
  </tr>
</table>
