@()
<table>
	<thead>
		<tr>
			<th colspan="3" rowspan="2"><center>Disciplina</center></th>
			<th rowspan="3"><center>Menção</center></th>
			<th colspan="6"><center>Crédito</center></th>
		</tr>
		<tr>
			<th colspan="2"><center>Área Concentrada</center></th>
			<th colspan="2"><center>Domínio conexo</center></th>
			<th colspan="2"><center>Módulo Livre</center></th>
			<th colspan="2"><center>Outros<p></th>
		</tr>
		<tr>
			<th><center>Código</center></th>
			<th><center>Descrição</center></th>
			<th><center>Departamento</center></th>
			<th><center>OBR</center></th>
			<th><center>OPT</center></th>
			<th><center>OBR</center></th>
			<th><center>OPT</center></th>
			<th><center></center></th>
			<th><center></center></th>
		</tr>
	</thead>
	<tbody>
		<!-- uma período -->
		<tr>
			<td><center>Período</center></td>
			<td><p>2/2017</center></td>
		</tr>
		<!-- uma matéria -->
		<tr>
			<td><center>Código</center></td>
			<td><center>Descrição</center></td>
			<td><center>Departamento</center></td>
			<td><center>Menção</center></td>
			<td><center>Créditos</center></td>
			<td><center>Créditos</center></td>
			<td><center>Créditos</center></td>
			<td><center>Créditos</center></td>
			<td><center>Créditos</center></td>
			<td><center>Créditos</center></td>
		</tr>
		<!-- inserir mais para cada matéria -->
		<!-- inserir mais para cada período -->
	</tbody>
</table>
