@(historico: List[(Option[String],List[HistoricoItem])])
<table>
	<thead>
		<tr>
			<th>Código</th>
			<th>Disciplina</th>
			<th>Menção</th>
			<th>Créditos</th>
			<th>Tipo</th>
		</tr>
	</thead>
	<tbody>
	  @for(periodo <- historico){
		  <!-- uma período -->
		  <tr>
			  <td>Período</td>
			  <td><p>@periodo._1</p></td>
		  </tr>
		  <!-- uma matéria -->
		  @for(materia <- periodo._2){
		    <tr>
			    <td>@materia.ID_MATERIA</td>
			    <td>@materia.nome</td>
			    <td><center>@materia.mençao</center></td>
			    <td>@materia.creditos</td>
			    <td>@materia.tipo</td>
		    </tr>
		  }
		}
	</tbody>
</table>
