@()
<table>
	<thead>
		<tr>
			<th rowspan="3">Código</th>
			<th rowspan="3">Disciplina</th>
			<th rowspan="3">Menção</th>
			<th colspan="2">AC</th>
			<th colspan="2">DC</th>
			<th rowspan="2">ML</th>
		</tr>
		<tr>
			<th>OBR</th>
			<th>OPT</th>
			<th>OBR</th>
			<th>OPT</th>
		</tr>
	</thead>
	<tbody>
		<!-- uma período -->
		<tr>
			<td>Período</td>
			<td><p>2/2017</td>
		</tr>
		<!-- uma matéria -->
		<tr>
			<td>001</td>
			<td>Fundamentos da Mecânica Quântica</td>
			<td><center>SS</center></td>
			<td>000</td>
			<td>000</td>
			<td>000</td>
			<td>000</td>
			<td colspan="2">006</td>
		</tr>
		<!-- inserir mais para cada matéria -->
		<!-- inserir mais para cada período -->
	</tbody>
</table>
