@(info: dadosPessoais)
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/home.css")">
    <title>Home</title>
  </head>
  <body>
    <div class="topbar topbarleft">
      <div class="logo logoleft">
        GM
      </div>
      <div class="toplogout">
        <a href="dados/curso?id=@info.cursoID" class="listener">Fluxo</a>
        <a href="logout">Sair</a>
      </div>
    </div>
    <div class="pagestructure">
      <div class="tablestyle">
        <div class="leftbar">
          <div class="perfil">
            <div class="foto"></div>
            Olá @info.matricula
          </div>
          <div class="option listener optionhover" href="dados/dados_pessoais">Dados pessoais</div>
          <div class="option listener optionhover" href="dados/grade_horaria">Grade Horária</div>
          <div class="option listener optionhover" href="dados/historico_escolar">Histórico escolar</div>
          <div class="vspace"></div>
          <div class="option listener optionhover" href="dados/cursos">Cursos</div>
          <div class="option listener optionhover" href="dados/oferta_departamento">Oferta</div>
          <div class="vspace"></div>
          <div class="option listener optionhover" href="dados/matricula">Matrícula</div>
          <div class="option listener optionhover">Oferta Individual</div>
          <div class="option listener optionhover" href="dados/lista_de_espera">Confirmar lista</div>
          <div class="option listener optionhover" href="dados/resultado">Resultado</div>
          <div class="option listener optionhover">Retirar matrícula</div>
          <div class="option listener optionhover">Trancar disciplina</div>
          <div class="option listener optionhover">Trancamento geral</div>
          @if(info.typed == "coordenador" || info.typed == "admin"){
          <div class="vspace"></div>
          <div class="option">Coisas do coordenador</div>
          <div class="option listener optionhover" href="dados/novo_aluno">Gerenciar alunos</div>
          }
          @if(info.typed == "professor" || info.typed == "admin"){
          <div class="vspace"></div>
          <div class="option">Coisas do professor</div>
          <div class="option listener optionhover" href="dados/mençao">Inserir menção</div>
          }
          @if(info.typed == "coordenadorDEP" || info.typed == "admin"){
          <div class="vspace"></div>
          <div class="option">Coisas do coordenador de departamento</div>
          <div class="option listener optionhover" href="dados/ger_turmas">Gerenciar turmas</div>
          }
        </div>
        <div class="content">
          <center>
            <div id="loadablepage"></div>
          </center>
        </div>
      </div>
    </div>
    <script src="@routes.Assets.versioned("javascripts/main.js")" crossorigin="anonymous"></script>
    <script src="@routes.Assets.versioned("javascripts/home.js")" crossorigin="anonymous"></script>
  </body>
</html>
