@()
<html >

<body>
  <h2> Aluno </h2>
  <h4> Numero da Matricula </h4>
  <table>
    <tbody>
    <!-- Para uma matéria -->
      <tr>
        <td class = "">ID da Materia</td>
        <td class = "">160815</td>
      </tr>
      <tr>
        <td class = "">Nome da Materia</td>
        <td class = "">Metodos Matematicos para Fisica</td>
      </tr>
      <tr>
        <td class = "">Turma</td>
        <td class = "">AB</td>
      </tr>
      <tr>
        <td class = "">Deseja entrar na lista de espera?</td>
        
        <td class = ""><input type="radio" name="materia n" value="sim"> Sim</td><!-- mudar o valor de "n" no campo "name" de acordo com as matérias que forem dadas -->
        <td class = ""><input type="radio" name="materia n" value="nao"> Não</td><!-- mudar o valor de "n" no campo "name" de acordo com as matérias que forem dadas -->
     </tr>
      <!-- Inserir mais para cada materia -->
    </tbody>
  </table>
</body>

</html>
