@()

<html>

<body>
		<h2> Nome do Curso </h2>
		<button type="button" class="botao">Fluxo</button>
		<button type="button" class="botao">Currículo</button>

			<table>
				<tbody>
					<tr>
						<td class = "">Grau</td>
						<td class = "">Bacharel</td>
					</tr>
					<tr>
						<td class = "">Limite mínimo de permanência</td>
						<td class = "">8</td>
					</tr>
					<tr>
						<td class = "">Limite máximo de permanência</td>
						<td class = "">18</td>
					</tr>
					<tr>
						<td class = "">Quantidade de créditos para formatura</td>
						<td class = "">250</td>
					</tr>
					<tr>
						<td class = "">Quantidade mínima de créditos optativos na área de concentração</td>
						<td class = "">10</td>
					</tr>
					<tr>
						<td class = "">Quantidade mínima de créditos optativos na área conexa</td>
						<td class = "">0</td>
					</tr>
					<tr>
						<td class = "">Quantidade máxima de créditos no módulo livre</td>
						<td class = "">20</td>
					</tr>
					<tr>
						<td class = "">Quantidade mínima de Horas em Atividade Complementar</td>
						<td class = "">0</td>
					</tr>
					<tr>
						<td class = "">Quantidade máxima integralizada de Horas em Atividade Complementar</td>
						<td class = "">6</td>
					</tr>
					<tr>
						<td class = "">Quantidade mínima de Horas em Atividade de Extensão</td>
						<td class = "">0</td>
					</tr>
					<tr>
						<td class = "">Quantidade máxima integralizada de Horas em Atividade de Extensão</td>
						<td class = "">6</td>
					</tr>
				</tbody>
			</table>
	
</body>
</html>
